#settings {
    position:absolute;
    left:0;
    top:0;
    width:1280px;
    height:720px;
    z-index: 100;
    text-align: center;
    background-color: black;
    opacity: 0.9;
}

#settings h1 {
    color: #ccc;
    font-size:36px;
}

#address {
    margin-top: 200px;
    font-size: 72px;
}

#address-error {
    color:red;
    font-size:48px;
}

input[type=text] {
    font-size:28px;
    text-align:right;
    width:85px;
    color:white;
    background-color: #1F1F1F;
    border: 1px solid #444;
    line-height: 46px;
    padding: 0;
    vertical-align: middle;
}

input[type=text]:focus {
    border: 1px solid #A92D53;
}

input.server-ip {
    width: 300px;
}



input[type=submit] {
   font-size:28px;
   border: none;
   margin-left: 5px;
   background: transparent url("../lg/jsLgVKeyboard/image/Qwerty_Btn3_N3.png") no-repeat;
   color: #fff;
   width: 134px;
   height: 50px;
   line-height: 48px;
   vertical-align: middle;
}

input[type=submit]:focus {
    background: transparent url("../lg/jsLgVKeyboard/image/Qwerty_Btn3_F.png") no-repeat;
    border: none;
    outline: none;
}